<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuickSVG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C936213A17BE588D00434767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C936214A17BE588D00434767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C936216717BE59C900434767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C936218A17BE59C900434767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C93621AB17BE69EE00434767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
